# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===============================
# Virtual Environment
# ===============================
.venv/
venv/
env/

# ===============================
# IDE (PyCharm / VSCode)
# ===============================
.idea/
.vscode/

# ===============================
# Test / Coverage
# ===============================
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# ===============================
# Mypy / Ruff / Black
# ===============================
.mypy_cache/
.ruff_cache/

# ===============================
# OS
# ===============================
.DS_Store
